/* Importing fonts from Google */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../image/anh-galaxy.jpg');
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border: 2px solid rgba(255,255, 255, .2);
}


.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: white;
    text-align: center;
}

.wrapper .name h3 {
    padding-bottom: 10px;
}

.wrapper .form-field{
    display: block;
    outline: none;
    background: none;
    font-size: 1rem;
    color: white;
    padding: 10px 15px 10px 10px;
    border: 2px solid rgba(255,255, 255, 0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.wrapper .form-field input{
    width: 100%;
    display: block;
    outline: none;
    background: none;
    font-size: 1rem;
    color: white;
    border: none;
}

::placeholder {
    color: white;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
}

.wrapper .form-field span {
    color:white;
    padding-right: 5px;
}

.wrapper .login {
    box-shadow: none;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    border: 2px solid rgba(255,255, 255, 0.2);
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}